

body{
    background:  rgba(255, 255, 255, 0.633);
    color:aliceblue;   
}



.header{
    margin-bottom: 5px;
    
   
}

.inner-header{
    background: linear-gradient(45deg, #EECFBA, #C5DDE8) rgb(234, 182, 24);
    height: 50px;
    text-align: center; 
    margin-top: 15px; 
    border-radius: 50px;
    border: 2px solid black;
}

h2{
    color: rgb(4, 4, 4);
    margin-top: 10px;
    text-align: center;
    
}



.content{
    text-align: center; 
    margin-top: 30px;

}




.inner-content{
  
  
    display: inline-flex;
    justify-content: space-around;
    
    

}


.inner-content-1 {
   
    width: 32%;
   display: flex;
   justify-content: space-between;
   
}



.inner-text {
    font-size: 16px;
    width: 90%;
    color: rgb(94, 92, 92);
    padding-left: 30px;
    position: relative;
    text-align: left;
    
   

}

@media screen and (max-width: 600px) {

    .inner-content{
  
  
       flex-direction: column;
       align-items: center;
    }
        
        
    
    .inner-content-1 {
        width: 70%;
        flex-direction: column;
        align-items: center;
        
    }

    .inner-text {  
    width: 80%;
    font-size: 14px;
    
   
}

}


@media screen and (max-width: 350px) {
    .header{
        display: none;
    
}

}
