.header{
    
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid cornflowerblue;
    color: rgb(244, 239, 239);
    text-shadow: 
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px rgb(251, 0, 255),
    0 0 92px rgb(247, 2, 230),
    0 0 102px rgb(255, 0, 255),
    0 0 151px rgb(252, 0, 252);
    font-family: "Vibur", sans-serif;
    text-transform: uppercase;
   
}



body{
    background-image: url(background.jpg);
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
}


.list-ul {

    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.list-li{

    display: flex;
    flex-direction: row;

}


.conteiner{
   
    display: flex;
    margin-top: 10px;
    position: relative;
    border: 1px solid cornflowerblue;
    height: 800px;
   
}

.tool{
    display: flex;
    flex-direction: row;

    margin-top: 0px;
    position: relative;
    border: 1px solid cornflowerblue;
    width: 20%;
    color: rgb(238, 205, 205);
}

.content {
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    margin-left: 5px;
    position: relative;
    border: 1px solid rgb(192, 105, 246);
    width: 80%;
    color: rgb(238, 205, 205);
}



.footer{
    margin-top: 10px;
    position: relative;
    border: 3px solid cornflowerblue;
    width: min 600px;
    height:  100px;
    color: rgb(238, 205, 205);
    text-shadow: 
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px rgb(251, 0, 255),
    0 0 92px rgb(247, 2, 230),
    0 0 102px rgb(255, 0, 255),
    0 0 151px rgb(252, 0, 252);
    font-family: "Vibur", sans-serif;
    font-size: 10px;
   
}


