   
   
   .Ramka{ 
	  border: 10px solid blue; 
	  width: 490px;
	  height: 500px;
   }
   
   
   .Foto1{
	  border: 10px solid blue; 
	  display: inline-block;
	  width: 490px;
	     
   }
   
   
